{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt=""
                        style="object-fit: cover" />
                    <div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px">
                        <div class="d-flex flex-column justify-content-center text-center h-100 p-3" style="background-color:#FDA12B ;">
                            <h1 class="text-white">Thriving</h1>
                            <h2 class="text-white">Years</h2>
                            <h5 class="text-white mb-0">Expertise</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="border-start border-5 ps-4 mb-5" style="border:#FDA12B ;">
                        <h6 class="text-body text-uppercase mb-2">About Us</h6>
                        <h1 class="display-6 mb-0">
                            Unique Solutions For Residentials & Industries!
                        </h1>
                    </div>
                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                        Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                        sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <p class="mb-4">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                        Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                        sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <div class="border-top mt-4 pt-4">
                        <div class="row g-4">
                            <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
                                <i class="fa fa-check fa-2x  flex-shrink-0 me-3" style="color:#FDA12B ;"></i>
                                <h6 class="mb-0">Ontime at services</h6>
                            </div>
                            <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
                                <i class="fa fa-check fa-2x  flex-shrink-0 me-3" style="color:#FDA12B ;"></i>
                                <h6 class="mb-0">24/7 hours services</h6>
                            </div>
                            <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                                <i class="fa fa-check fa-2x flex-shrink-0 me-3" style="color:#FDA12B ;"></i>
                                <h6 class="mb-0">Verified professionals</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end mb-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="border-start border-5 ps-4" style="border:#FDA12B ;">
                    <h6 class="text-body text-uppercase mb-2">Our Services</h6>
                    <h1 class="display-6 mb-0">
                        Construction And Renovation Solutions
                    </h1>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light overflow-hidden h-100">
                    <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="" />
                    <div class="service-text position-relative text-center h-100 p-4">
                        <h5 class="mb-3">Building Construction</h5>
                        <p>
                            We provide tools for the people in need on a loan that is to be paid at the end
                        </p>
                        <a class="small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light overflow-hidden h-100">
                    <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="" />
                    <div class="service-text position-relative text-center h-100 p-4">
                        <h5 class="mb-3">Home Maintainance</h5>
                        <p>
                            We do offer test services for those that need to clarify that our clients are genuine enough
                        </p>
                        <a class="small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light overflow-hidden h-100">
                    <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="" />
                    <div class="service-text position-relative text-center h-100 p-4">
                        <h5 class="mb-3">Counselling</h5>
                        <p>
                            Incase you need someone totalk to over the issues you are going on don't be shy to knock on our doors whenever you feel like
                        </p>
                        <a class="small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
{% endblock %}